@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  background: #6c63ff;
}

::-webkit-scrollbar-thumb {
  background: #8b46c0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9c55b1;
}

::-webkit-scrollbar-track {
  background: #6c63ff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(
      to bottom right,
      rgba(108, 99, 255, 0.8),
      rgba(185, 147, 214, 0.8),
      rgba(139, 70, 192, 0.8)
    ),
    linear-gradient(to top left, #6c63ff, #8b46c0);
  min-height: 100vh;
}

.main {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.search-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;

  background: linear-gradient(to right, #ebf0fa, #e1e2e4);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 30px;
}

.search-box {
  width: 45%;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.3);
}

.search-box label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000;
}

.search-box input,
.search-box select {
  width: 100%;
  padding: 12px 2px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #fff;
  transition: 0.3s ease;
  box-shadow: 0 0 8px rgba(108, 99, 255, 0.2);
}

.search-box input:focus,
.search-box select:focus {
  border: 1px solid #6c63ff;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.12),
    inset 0 1px 4px rgba(0, 0, 0, 0.06);
}

.search-box select {
  padding-inline: 12px;
}
.search-box select::after {
  padding-inline: 12px;
}

.search-box label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.results {
  display: none;
  margin-top: 5px;
}

.course-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.course-card {
  width: 100px;

  padding: 5px;
  background-color: #e9ecef;
  border-radius: 8px;
  text-align: center;
  align-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.course-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.course-card h4 {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #5a58f0;
}

h3 {
  text-align: center;
  color: #000;
  font-size: 18px;
  margin-bottom: 20px;
}

.course-detail {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  z-index: 100;
}
.course-detail h3 {
  margin-bottom: 20px;
}
.back-button {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to right, #6c63ff, #5a58f0);
  color: white;
  border: none;
  letter-spacing: 1px;
  border-radius: 50px;
  padding: 14px 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 5s ease, background 0.4s ease;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  max-width: 100%;
  margin-bottom: 25px;
  outline: 2px solid;
}

th,
td {
  padding: 8px;
  font-size: 0.8rem;
  text-align: center;
  outline: 1px solid;
}

th {
  background-color: #a1a0ef;
}

td {
  background-color: #d5d5e3;
}
.dropdown {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 115px;
  overflow-y: auto;
  position: absolute;
  width: 344px;
  background-color: #fff;
  z-index: 10;
}

.dropdown div {
  padding: 10px;
  cursor: pointer;
}

.dropdown div:hover {
  background-color: #5a58f0;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Styles for screens 768px and above */
@media (min-width: 768px) {
  .search-container {
    gap: 30px;
  }
  .course-card {
    width: 250px;
  }
}

/* Styles for screens 425px to 767px */
@media (max-width: 767px) {
  .search-container {
    flex-direction: column;
    gap: 20px;
  }

  .main{
    padding: 2px;
  }

  .search-box {
    width: 100%;
  }

  .course-card {
    width: 100%;
  }

  .back-button {
    text-align: center;
  }
}

/* Styles for screens 375px to 424px */
@media (max-width: 424px) {
  h1 {
    font-size: 1.5rem;
  }

  .search-box input,
  .search-box select {
    padding: 10px;
    font-size: 14px;
  }

  .course-card {
    padding: 15px;
  }

  th,
  td {
    font-size: 0.7rem;
    padding: 6px;
  }

  .back-button,
  .next-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}

.accordion {
  margin-top: 20px;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-button {
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.accordion-button:hover {
  background-color: #ddd;
}

.accordion-content {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.accordion-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.accordion-content li {
  margin-bottom: 5px;
}
